In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\justy\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\justy\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\justy\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\justy\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\justy\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
pip show pandas

Name: pandas
Version: 1.4.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\users\justy\anaconda3\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by: altair, datashader, holoviews, hvplot, seaborn, statsmodels, streamlit, xarray
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_csv(r'C:\Users\justy\Downloads\mieszkania_windows.csv')

In [6]:
df.head()

   Kwartal   Rok  Wartosc
0        4  2023     6386
1        3  2023     6335
2        2  2023     6134
3        1  2023     5668
4        4  2022     5708

In [7]:
dfy = df.groupby(df['Rok'])['Wartosc'].mean()
print(dfy)

Rok
1998    1930.00
1999    2132.50
2000    2281.25
2001    2510.00
2002    2403.50
2003    2238.00
2004    2388.75
2005    2439.25
2006    2545.25
2007    2816.00
2008    3316.25
2009    3891.50
2010    4360.25
2011    3858.25
2012    3996.25
2013    4025.25
2014    4033.50
2015    3969.50
2016    4054.00
2017    4170.00
2018    4237.50
2019    4461.25
2020    4891.50
2021    5134.25
2022    5318.75
2023    6130.75
Name: Wartosc, dtype: float64

In [8]:
pip install tabulate

Requirement already satisfied: tabulate in c:\users\justy\anaconda3\lib\site-packages (0.8.10)
Note: you may need to restart the kernel to use updated packages.

In [9]:
print(dfy.to_markdown())

|   Rok |   Wartosc |
|------:|----------:|
|  1998 |   1930    |
|  1999 |   2132.5  |
|  2000 |   2281.25 |
|  2001 |   2510    |
|  2002 |   2403.5  |
|  2003 |   2238    |
|  2004 |   2388.75 |
|  2005 |   2439.25 |
|  2006 |   2545.25 |
|  2007 |   2816    |
|  2008 |   3316.25 |
|  2009 |   3891.5  |
|  2010 |   4360.25 |
|  2011 |   3858.25 |
|  2012 |   3996.25 |
|  2013 |   4025.25 |
|  2014 |   4033.5  |
|  2015 |   3969.5  |
|  2016 |   4054    |
|  2017 |   4170    |
|  2018 |   4237.5  |
|  2019 |   4461.25 |
|  2020 |   4891.5  |
|  2021 |   5134.25 |
|  2022 |   5318.75 |
|  2023 |   6130.75 |